<div
  class="d-flex align-items-center bg-secondary justify-content-start"
  style="
    height: 100%;
    background-image: url(https://t3.ftcdn.net/jpg/03/89/32/80/360_F_389328016_ak3iUrk15slWfEZdYL96O6eKTUyImDeC.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
>
<div class="container" style="width: 30%; margin-left: 50px;" class="text-light">
    <h3>Reset Password</h3>
    <form
      [formGroup]="resetForm"
      class="row d-flex justify-content-center"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="otp">OTP</label>
        <input
          type="number"
          id="otp"
          class="form-control"
          required
          ngModel
          placeholder="Enter your OTP"
          formControlName="otp"
          name="otp"
          maxlength="6"
        />
        <div class="text-danger" *ngIf="resetForm.controls['otp'].touched">
          <span *ngIf="resetForm.controls['otp'].errors?.['required']"
            >This is required</span
          >
          <span *ngIf="resetForm.controls['otp'].errors?.['minlength']"
            >Please enter 6 Digit OTP</span
          >
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <app-password
          (passwordValueChange)="onPasswordChange($event)"
          [(passwordValue)]="password"
        ></app-password>
        <div class="text-danger" *ngIf="resetForm.controls['password'].touched">
          <span *ngIf="resetForm.controls['password'].errors?.['required']"
            >This is required</span
          >
          <span *ngIf="resetForm.controls['password'].errors?.['minlength']"
            >Password should be atleast 6 char long.</span
          >
        </div>
      </div>

      <div class="form-group" style="margin-top: -10px">
        <label for="confirmPassword">Confirm Password</label>
        <app-password
          (passwordValueChange)="onConfirmPasswordChange($event)"
          [(passwordValue)]="confirmPassword"
          [passwordOrConfirm]="true"
        ></app-password>
        <div class="text-danger" *ngIf="resetForm.controls['password'].touched">
          <span *ngIf="resetForm.errors?.['passwordMismatch']"
            >Passwords do not match</span
          >
        </div>
      </div>

      <button type="submit" class="btn btn-primary col-sm-6">
        Reset Your Password
      </button>
    </form>
  </div>
</div>
