<div
  class="d-flex align-items-center bg-secondary justify-content-center"
  style="
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpqzuS6Pij-N7tCgRmsBTWxWwP1nUPl4ws1w&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
>
  <div class="container" style="width: 35%" class="text-light">
    <h2 class="text-light text-center">Reset Password</h2>
    <form
      [formGroup]="resetForm"
      class="row d-flex justify-content-center"
      (ngSubmit)="onSubmit()"
    >
      <div
        class="form-group"
        style="width: 80%; margin-left: 10%; margin-top: 20px"
      >
        <input
          type="number"
          id="otp"
          class="form-control"
          required
          ngModel
          placeholder="Enter your OTP"
          formControlName="otp"
          name="otp"
          maxlength="6"
        />
        <div class="text-danger" *ngIf="resetForm.controls['otp'].touched">
          <span *ngIf="resetForm.controls['otp'].errors?.['required']"
            >This is required</span
          >
          <span *ngIf="resetForm.controls['otp'].errors?.['minlength']"
            >Please enter 6 Digit OTP</span
          >
        </div>
      </div>

      <div
        class="form-group"
        style="width: 80%; margin-left: 10%; margin-top: 0px"
      >
        <app-password
          (passwordValueChange)="onPasswordChange($event)"
          [(passwordValue)]="password"
        ></app-password>
        <div class="text-danger" *ngIf="resetForm.controls['password'].touched">
          <span *ngIf="resetForm.controls['password'].errors?.['required']"
            >This is required</span
          >
          <span *ngIf="resetForm.controls['password'].errors?.['minlength']"
            >Password should be atleast 6 char long.</span
          >
        </div>
      </div>

      <div
        class="form-group"
        style="width: 80%; margin-left: 10%; margin-top: -15px"
      >
        <app-password
          (passwordValueChange)="onConfirmPasswordChange($event)"
          [(passwordValue)]="confirmPassword"
          [passwordOrConfirm]="true"
        ></app-password>
        <div class="text-danger" *ngIf="resetForm.controls['password'].touched">
          <span *ngIf="resetForm.errors?.['passwordMismatch']"
            >Passwords do not match</span
          >
        </div>
      </div>

      <button type="submit" class="btn btn-secondary text-light col-sm-5">
        Reset Your Password
      </button>
    </form>
  </div>
</div>
