<ng-template #successTemplate let-message="message">
  <div class="toast-message">Success: {{ message }}</div>
</ng-template>

<ng-template #errorTemplate let-message="message">
  <div class="toast-message">Error: {{ message }}</div>
</ng-template>

<ngb-toast
  *ngFor="let toast of toastService.toasts; trackBy: trackByToast"
  [class]="toast.classname"
  [autohide]="true"
  [delay]="toast.delay || 5000"
  (hidden)="toastService.remove(toast)"
>
  <ng-template
    [ngTemplateOutlet]="toast.template"
    [ngTemplateOutletContext]="{ message: toast.message }"
  ></ng-template>
</ngb-toast>