<app-layout>
  <div style="margin-top: 20px; padding: 0 50px">
    <div class="flex align-items-center justify-content-between tableTitle">
      <h2>{{ "users".toUpperCase() }}</h2>
    </div>
    <ng-container>
      <input
        pInputText
        type="text"
        style="
          width: 30%;
          border-radius: 5px;
          border: 1px solid #222e3c;
          padding: 3px 3px 3px 15px;
          background: transparent;
          outline: none;
        "
        onmouseover="this.style.borderColor='#3d9bff'"
        onmouseout="this.style.borderColor='#222e3c'"
        placeholder="Search Here"
      />
      <button
        class="btn btn-primary"
        (click)="openColumnFilterDialoge()"
        style="
          float: right;
          background-color: #0d89ec;
          width: 170px;
          height: 42px;
          color: white;
          font-size: 17px;
          margin-left: 15px;
          border-radius: 8px;
          margin-top: -8px;
        "
      >
        <i class="pi pi-filter" style="font-size: 0.8rem"></i>
        &nbsp;Filter Columns
      </button>

      <a href="/dashboard/user/add">
        <button
          class="btn btn-success"
          style="
            border-radius: 8px;
            float: right;
            width: 170px;
            height: 42px;
            color: white;
            font-size: 17px;
            margin-top: -8px;
          "
        >
          <i class="pi pi-plus" style="font-size: 0.8rem"></i>
          Create
        </button>
      </a>
    </ng-container>
    <app-table
      [listData]="userListData"
      (handleRulesChange)="handleRuleChange($event)"
    >
    </app-table>
    <app-pagination
      (paginationChanges)="handlePagination($event)"
    ></app-pagination>

    <app-column-filter-diloge
      [cols]="userListData.cols"
      [userListData]="userListData"
      [visible]="columnFilterDialogeVisible"
      (visibleChange)="dialogeVisibilityChanges($event)"
    />
  </div>
</app-layout>
<router-outlet></router-outlet>
