<div
  class="d-flex align-items-center bg-secondary justify-content-center"
  style="
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpqzuS6Pij-N7tCgRmsBTWxWwP1nUPl4ws1w&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
>
  <div class="container" style="width: 35%" class="text-light">
    <h2 class="text-light text-center">Send Password Reset Mail</h2>
    <form
      [formGroup]="forgotForm"
      class="row d-flex justify-content-center"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <input
          style="width: 70%; margin-left: 15%; margin-top: 20px"
          type="email"
          id="email"
          class="form-control"
          required
          ngModel
          placeholder="Enter your email"
          formControlName="email"
          name="email"
        />
        <div class="text-danger" *ngIf="forgotForm.controls['email'].touched">
          <span *ngIf="forgotForm.controls['email'].errors?.['required']">
            This is required
          </span>
          <span *ngIf="forgotForm.controls['email'].errors?.['email']"
            >Please enter a valid Email</span
          >
        </div>
      </div>
      <button type="submit" class="btn btn-primary col-sm-6">
        Send Reset Password Link
      </button>
      <p class="me-2 mt-2 text-light text-center">
        Don't have an Account?
        <a href="" class="text-light text-decoration-none">Create One</a>
      </p>
    </form>
  </div>
</div>
