<div style="margin-top: 150px; width: 40%" class="container m-10">
  <h4>Send Password Reset Mail</h4>
  <form
    [formGroup]="forgotForm"
    class="row d-flex justify-content-center"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        required
        ngModel
        placeholder="Enter your email"
        formControlName="email"
        name="email"
      />
      <div class="text-danger" *ngIf="forgotForm.controls['email'].touched">
        <span *ngIf="forgotForm.controls['email'].errors?.['required']"
          >This is required</span
        >
        <span *ngIf="forgotForm.controls['email'].errors?.['email']"
          >Please enter valid Email</span
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary col-sm-4">
      Send Reset Password Link
    </button>
    <p class="me-2 mt-2 text-secondary text-center">
      Don't have an Account?
      <a href="" class="text-primary text-decoration-none">Create One</a>
    </p>
  </form>
</div>
