<div class="form-group">
  <div class="input-group">
    <input
      [type]="passwordVisible ? 'text' : 'password'"
      class="form-control"
      [value]="passwordValue"
      (input)="onInput($event)"
      required
      [placeholder]="
        passwordOrConfirm ? 'Confirm Your Password' : 'Enter your password'
      "
      [name]="passwordOrConfirm ? 'confirmPassword' : 'password'"
    />
  </div>
  <fa-icon
    class="text-dark"
    [icon]="passwordVisible ? faEyeSlash : faEye" style="position: relative; bottom: 26px; right: 50px;"
    (click)="togglePasswordVisibility()"
  ></fa-icon>
</div>