<div class="form-group">
  <div class="input-group">
    <input
      [type]="passwordVisible ? 'text' : 'password'"
      class="form-control"
      [value]="passwordValue"
      (input)="onInput($event)"
      required
      [placeholder]="
        passwordOrConfirm ? 'Confirm Your Password' : 'Enter your password'
      "
      [name]="passwordOrConfirm ? 'confirmPassword' : 'password'"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="togglePasswordVisibility()"
      >
        <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"></fa-icon>
      </button>
    </div>
  </div>
</div>
