<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [closeOnEscape]="true"
  (onHide)="handleDialogHide(false)"
  [dismissableMask]="true"
  closable="false"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template pTemplate="header">
    <div>
      <h3 class="d-inline">Filter Columns</h3>
      <div style="position: absolute; right: 0; top: 27px">
        <button
          (click)="applyChanges()"
          class="btn btn-primary"
          style="margin-right: 10px"
        >
          Apply
        </button>
        <button
          class="btn btn-danger"
          style="margin-right: 40px"
          (click)="handleDialogHide(false)"
        >
          Close
        </button>
      </div>
    </div>
  </ng-template>
  <ng-content></ng-content>
</p-dialog>
