th {
  color: white;
  background-color: #222e3c;
  text-align: left;
  vertical-align: middle;
  text-align: center;
  border-bottom: 2px solid white;
}

.tableTitle {
  font-size: 30px;
}

td,
th {
  min-width: 180px;
  text-align: center;
}

p-tag,
p-sortIcon {
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: #f2f2f2; /* Light gray for odd rows */
}

tr:nth-child(even) {
  background-color: #ffffff; /* White for even rows */
}

td {
  max-width: 300px;
  padding: 10px 20px;
}

p-button {
  margin-left: 10px;
}


.overlay {
  opacity: 0.5;
  pointer-events: none; /* Prevent interaction with underlying content */
  transition: opacity 0.3s ease;
}